
<div class="span8">
  <div class="row">
    <%= form_tag(update_leaderboards_path, :method => "put") do %>
      <h3>PR Leaderboard -
        <%= select_tag "lifts", options_for_select(@indexed_lifts, @lifts.index(@lift_name.humanize)), :class => 'lift-selector', :style => "width:25%" %>
      <%= submit_tag("Submit", :class => 'btn') %>
      </h3>
    <% end %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Weight</th>
        <th>Reps</th>
      </tr>
    </thead>
    <tbody>
      <% @leaderboard.each.with_index(1) do |user, idx| %>
        <% lift = user.pr_lifts.where(name: @lift_name).first %>
        <tr>
          <td><%= idx %></td>
          <td><%= user.name %></td>
          <td><%= lift.weight %> kg</td>
          <td><%= lift.reps %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
