<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
      <h3>PR Board</h3>
      <%= render 'shared/user_prboard' %>
    <% if @user.lifts.any? %>
      <h3>Lifts (<%= @user.lifts.count %>)</h3>
      <ol class="lifts">
        <%= render @user_lifts %>
      </ol>
      <%= will_paginate @user_lifts %>
    <% end %>
  </div>
</div>
